{% extends "layout/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static '/css/forms.css' %}">
<title>Ask Question</title>
{% endblock %}

{% block title %}
<div class="cur_title">
    New Question
</div>
{% endblock %}

{% block content %}
<div class="data">
    <form action="" method="POST" class="question_form">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div style="color: red; margin-bottom: 20px;">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="form">
            <div class="fields">
                <div class="field_block">
                    <div class="field_name">Title</div>
                    <div class="block_input">
                        <input type="text" name="title" class="single-line_input field_input" value="{{ form.title.value|default:'' }}" required>
                        
                        {% if form.title.errors %}
                            <div style="color: red; font-size: 0.8em;">{{ form.title.errors.0 }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="field_block field_text_block">
                    <div class="field_name">Text</div>
                    <div class="block_input">
                        <textarea name="text" class="multi-line_input field_input" required>{{ form.text.value|default:'' }}</textarea>
                        
                        {% if form.text.errors %}
                            <div style="color: red; font-size: 0.8em;">{{ form.text.errors.0 }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="field_block">
                    <div class="field_name">Tags</div>
                    <div class="block_input">
                        <input type="text" name="tags" class="single-line_input field_input" value="{{ form.tags.value|default:'' }}" placeholder="tag1 tag2 tag3">
                        
                        {% if form.tags.errors %}
                            <div style="color: red; font-size: 0.8em;">{{ form.tags.errors.0 }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="submit">
                <input type="submit" value="Ask!" class="submit_btn">
            </div>
        </div>
    </form>
</div>
{% endblock %}