{% extends "layout/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
<link rel="stylesheet" href="{% static '/css/layout/paginator.css' %}">
<link rel="stylesheet" href="{% static '/css/layout/questions-answers.css' %}">
<title>Hot Question</title>
{% endblock %}

{% block title %}
<div class="new_hot_questions">
    <div class="cur_title">
        Hot Questions
    </div>
    <div class="other_questions">
        <a href="{% url 'index' %}" class="other_questions">New Questions</a>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="questions">
    {% for question in questions %}
        {% include "layout/one_question.html" with q=question %}
    {% endfor %}
</div>
{% include "layout/paginator.html" %}

{% endblock %}