{% extends "layout/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static '/css/forms.css' %}">
<link rel="stylesheet" href="{% static '/css/authorization.css' %}">
<title>Login</title>
{% endblock %}

{% block title %}
<div class="cur_title">
    Login
</div>
{% endblock %}

{% block content %}
<div class="data">
    <form action="" class="question_form">
        <div class="form">
            <div class="fields">
                <div class="field_block">
                    <div class="field_name">
                        Login
                    </div>
                    <div class="block_input">
                        <input type="text" class="single-line_input field_input">
                    </div>
                </div>
                <div class="field_block">
                    <div class="field_name">
                        Password
                    </div>
                    <div class="block_input">
                        <input type="password" class="single-line_input field_input">
                    </div>
                </div>
                {% csrf_token %}
            </div>
            <div class="form-btns">
                <div class="submit">
                    <input type="submit" value="Login!" class="submit_btn submit-login">
                </div>
            </div>
        </div>
        <div class="other-auth">
            <a href="{% url 'register' %}" class="a_btn other-auth-btn login-btn">Create new account</a>
        </div>
    </form>
</div>
{% endblock %}