{% extends "layout/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static '/css/layout/questions-answers.css' %}">
<link rel="stylesheet" href="{% static '/css/question.css' %}">
<link rel="stylesheet" href="{% static '/css/layout/paginator.css' %}">
<title>{{ question.title|default:"Question" }}</title>
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

<div class="question_data">
    {% include "layout/one_question.html" with q=question %}
    <div class="answers_title">
        Answers({{ answers_cnt }}):
    </div>
    <div class="answers">
        {% for answer in answers %}
            {% include "layout/one_answer.html" with ans=answer %}
        {% empty %}
            <div class="no-answers">Нет ответов.</div>
        {% endfor %}
    </div>
    {% include "layout/paginator.html" %}
    <div class="your_answer_title">
        Your answer:
    </div>
    <div class="answer_form">
        <form action="" method="post" class="answer">
            {% csrf_token %}
            <div class="block_input">
                <textarea type="text" name="answer_text" class="answer_input"></textarea>
            </div>
            <div class="submit">
                <input type="submit" value="Answer!" class="submit_answer">
            </div>
        </form>
    </div>
</div>

{% endblock %}