{% extends "layout/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static '/css/layout/questions-answers.css' %}">
<link rel="stylesheet" href="{% static '/css/question.css' %}">
<title>Question</title>
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<div class="question_data">
    <div class="question-answer">
        <div class="main-question-answer__avatar_likes">
            <img class="question_avatar" src="{% static 'images/silly cat.jpg' %}" alt="img">
            <div class="question-answer__likes">
                <div class="like_count">5</div>
                <div class="rate">
                    <button class="rate_btn">+</button>
                    <button class="rate_btn">-</button>
                </div>
            </div>
        </div>
        <div class="question-answer__content">
            <div class="question-answer__theme_text">
                <a href="#" class="question-answer__theme">To be or not to be?</a>
                <p class="question-answer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dui sapien, hendrerit at dui eget, accumsan condimentum sem. Mauris euismod eget lorem in sollicitudin. In ante justo, vestibulum eu nisi vitae, rhoncus condimentum diam. Sed id elit a ante malesuada sodales. Proin imperdiet, urna vel suscipit placerat, diam tellus posuere est, ut vulputate justo dui quis neque. Cras nec libero consectetur, congue augue placerat, porttitor eros. Etiam nulla leo, pretium in ante et, consequat facilisis ex. Fusce dictum hendrerit leo eu aliquam. Proin fringilla tortor turpis, at tincidunt urna vestibulum vitae. </p>
            </div>
            <div class="question__tags">
                <div class="question__tags_title">Tags:</div>
                <div>
                    <a href="#" class="white-gray_link">tag1</a>
                    <a href="#" class="white-gray_link">tag2</a>
                    <a href="#" class="white-gray_link">tag3</a>
                </div>
            </div>
        </div>
    </div>
    <div class="answers_title">
        Answers(2):
    </div>
    <div class="answers">
        <div class="question-answer">
            <div class="question-answer__avatar_likes">
                <img class="user_avatar" src="{% static 'images/silly cat.jpg' %}" alt="img">
                <div class="question-answer__likes">
                    <div class="like_count">5</div>
                    <div class="rate">
                        <button class="rate_btn">+</button>
                        <button class="rate_btn">-</button>
                    </div>
                </div>
            </div>
            <div class="question-answer__content">
                <div class="question-answer__text">to be.</div>
                <div class="correct_answer">
                    <div class="correct_form">
                        <input type="checkbox" class="is_correct">
                    </div>
                    <div class="correct_title">
                        Correct!
                    </div>
                </div>
            </div>
        </div>
        <div class="question-answer">
            <div class="question-answer__avatar_likes">
                <img class="user_avatar" src="{% static 'images/silly cat.jpg' %}" alt="img">
                <div class="question-answer__likes">
                    <div class="like_count">5</div>
                    <div class="rate">
                        <button class="rate_btn">+</button>
                        <button class="rate_btn">-</button>
                    </div>
                </div>
            </div>
            <div class="question-answer__content">
                <div class="question-answer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dui sapien, hendrerit at dui eget, accumsan condimentum sem. Mauris euismod eget lorem in sollicitudin. In ante justo, vestibulum eu nisi vitae, rhoncus condimentum diam. Sed id elit a ante malesuada sodales. Proin imperdiet, urna vel suscipit placerat, diam tellus posuere est, ut vulputate justo dui quis neque. Cras nec libero consectetur, congue augue placerat, porttitor eros. Etiam nulla leo, pretium in ante et, consequat facilisis ex. Fusce dictum hendrerit leo eu aliquam. Proin fringilla tortor turpis, at tincidunt urna vestibulum vitae. </div>
                <div class="correct_answer">
                    <div class="correct_form">
                        <input type="checkbox" class="is_correct">
                    </div>
                    <div class="correct_title">
                        Correct!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="your_answer_title">
        Your answer:
    </div>
    <div class="answer_form">
        <form action="" class="answer">
            <div class="block_input">
                <textarea type="text" class="answer_input"></textarea>
            </div>
            <div class="submit">
                <input type="submit" value="Answer!" class="submit_answer">
            </div>
        </form>
    </div>
</div>
{% endblock %}