{% extends "layout/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static '/css/forms.css' %}">
<link rel="stylesheet" href="{% static '/css/authorization.css' %}">
<title>Registration</title>
<script src="{% static 'js/upload_photo.js' %}" defer></script>
{% endblock %}

{% block title %}
<div class="cur_title">
    Registration
</div>
{% endblock %}

{% block content %}
<div class="data">
    <form action="" method="POST" class="question_form" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div style="color: red; margin-bottom: 10px;">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="form">
            <div class="fields">
                <div class="field_block">
                    <div class="field_name">
                        Login
                    </div>
                    <div class="block_input">
                        <input type="text" class="single-line_input field_input" name="username" value="{{ form.username.value|default:'' }}">
                        {% if form.username.errors %}
                            <div class="input_error">{{ form.username.errors.0 }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="field_block">
                    <div class="field_name">
                        Email
                    </div>
                    <div class="block_input">
                        <input type="email" name="email" class="single-line_input field_input" value="{{ form.email.value|default:'' }}" required>
                        {% if form.email.errors %}
                            <div class="input_error">{{ form.email.errors.0 }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="field_block">
                    <div class="field_name">
                        Display Name
                    </div>
                    <div class="block_input">
                        <input type="text" name="first_name" class="single-line_input field_input" value="{{ form.first_name.value|default:'' }}" required>
                        {% if form.first_name.errors %}
                            <div class="input_error">{{ form.first_name.errors.0 }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="field_block">
                    <div class="field_name">
                        Password
                    </div>
                    <div class="block_input">
                        <input type="password" name="password" class="single-line_input field_input">
                        {% if form.password.errors %}
                            <div class="input_error">{{ form.password.errors.0 }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="field_block">
                    <div class="field_name">
                        Repeat password
                    </div>
                    <div class="block_input">
                        <input type="password" name="repeat_password" class="single-line_input field_input">
                        {% if form.repeat_password.errors %}
                            <div class="input_error">{{ form.repeat_password.errors.0 }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="field_block field_text_block">
                    <div class="field_name">
                        Upload Avatar
                    </div>
                    <div class="block_input avatar-upload">
                        <div class="avatar-preview"></div>
                        <div class="upload-controls">
                            <input id="avatarInput" name="avatar" type="file" accept="image/*" style="display:none">
                            <div class="button_upload">
                                <button type="button" id="chooseBtn" class="btn_upload">Choose file</button>
                            </div>
                            <div id="uploadStatus" class="upload-status" aria-live="polite"></div>
                            {% if form.avatar.errors %}
                                <div class="input_error">{{ form.avatar.errors.0 }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit">
                <input type="submit" value="Register!" class="submit_btn">
            </div>
        </div>
        <div class="other-auth">
            <a href="{% url 'login' %}" class="a_btn other-auth-btn reg-btn">Already have an account?</a>
        </div>
    </form>
</div>
{% endblock %}