{% extends "layout/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static '/css/layout/questions-answers.css' %}">
<link rel="stylesheet" href="{% static '/css/layout/paginator.css' %}">
<title>tag1</title>
{% endblock %}

{% block title %}
<div class="cur_title">
    Tag: tag1
</div>
{% endblock %}

{% block content %}

<div class="questions">
    {% for question in questions %}
        {% include "layout/one_question.html" with q=question %}
    {% endfor %}
</div>
{% include "layout/paginator.html" %}

{% endblock %}