{% load static %}


<div class="question-answer">
    <div class="question-answer__avatar_likes">
        <img class='user_avatar' src="{{ q.user.profile.avatar_url }}" alt="Avatar">
        <div class="question-answer__likes">
            <div class="like_count">5</div>
            <div class="rate">
                <button class="rate_btn">+</button>
                <button class="rate_btn">-</button>
            </div>
        </div>
    </div>
    <div class="question-answer__content">
        <div class="question-answer__theme_text">
            <a href="{% url 'question' q.id %}" class="question-answer__theme">{{ q.title }}</a>
            <p class="question-answer__text">{{ q.text }}</p>
        </div>
        <div class="question__links">
            <div class="question__answers">
                <a href="{% url 'question' q.id %}" class="white-gray_link">Answers({{ answers_cnt }})</a>
            </div>
            <div class="question__tags">
                <div class="question__tags_title">Tags:</div>
                <div>
                    {% for tag in q.tags.all %}
                        <a href="{% url 'tag' tag.id %}" class="white-gray_link">
                            {{ tag.name }}
                        </a>
                    {% empty %}
                        <span class="notags">No tags</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>